.venv/
*.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
scratch.ipynb
.vscode
.ruff_cache/
*.egg-info/
src/benchmark/results/*.json
train/figures/
train/models/
train/training_data